.contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
}

.contact-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--cards-wrap);
}

.contact-img {
  margin: 0 auto;
}

.contact-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-icon {
  fill: var(--hover);
  margin-right: 10px;
}

.contact-text,
.contact-link {
  color: var(--title);
  font-size: 14px;
}

.contact-link {
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: var(--hover);
}

.application-form {
  background-color: var(--cards-wrap);
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0 auto;
  color: var(--text);
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  fill: var(--hover);
}

.input-field,
.select-field,
.textarea-field {
  padding: 10px 10px 10px 30px;
  border: 1px solid var(--title);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.textarea-field {
  height: 100px;
  resize: none;
}

.checkbox {
  margin-right: 5px;
  accent-color: var(--hover);
}

.submit-button {
  background-color: var(--hover);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #2c0000;
}

.form-link-policy {
  color: #200404;
}

.form-link-policy:hover {
  color: #000000;
}

@media (min-width: 900px) {
  .contact-wrap {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
  }

  .application-form {
    padding: 40px;
    max-width: 500px;
  }

  .contact-item {
    height: 450px;
    padding: 20px;
  }
}

.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  font-weight: bold;
  border: 1px solid var(--title);
  padding: 15px 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e06769;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(-20px);
}

.success-message.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .success-message {
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    font-size: 0.9rem;
    border-radius: 16px;
  }
}

.icon-modal {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  fill: var(--title);
}

.booking-modal-content {
  display: flex;
  align-items: center;
  color: var(--title);
}
