.header {
  background: var(--hover);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo-svg {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s;
}

.logo-txt {
  font-family: var(--second-family);
  color: #fafafa;
  text-transform: capitalize;
  margin-left: 10px;
  transition: color 0.3s;
}

.nav {
  display: none;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-item-link {
  color: var(--text);
  transition: background-color 0.3s;
}

.nav-item-link:hover {
  color: #787474;
}

.burger-menu {
  display: flex;
  cursor: pointer;
  fill: var(--text);
  background-color: inherit;
  border: none;
}

@media (min-width: 768px) {
  .nav {
    display: block;
  }

  .burger-menu {
    display: none;
  }
}
