@import url("./fonts.css");
@import url("./general.css");
@import url("./header.css");

.policy-nav {
  display: block;
}

.title {
  font-size: 20px;
  text-align: center;
  margin: 12px 0;
  color: var(--text);
}

.policy-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    margin: 36px 0;
  }

  .policy-wrap {
    font-size: 20px;
  }
}

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

.definition-list,
.purpose-list,
.data-list,
.rights-list {
  list-style-type: disc;
  margin-left: 20px;
}

.privacy-policy-link {
  font-size: 18px;
  color: #512da8;
  text-decoration: underline;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}
