.reviews-list {
  display: flex;
  flex-direction: column;
}

.reviews-list-item {
  display: flex;
  align-items: center;
  background-color: var(--cards-wrap);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  transition: background-color 0.3s, transform 0.3s;
}

.reviews-list-item:hover {
  transform: scale(1.05);
}

.reviews-icon-wrap {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.icon-rew {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 64px;
  height: 64px;
  fill: var(--hover);
}

.reviews-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
}
